.hero_juguetes {
  background-image: url(/img/gato_jugueteria.jpg);
  background-size: cover;
  height: 31vw;
  background-attachment: fixed;
  background-position: center;
}
.juguetes_text {
  text-align: center;
  color: white;
  font-size: 5rem;
  font-family: $titulo;
  letter-spacing: 6px;
}
.textContenedor {
  padding-top: 4vw;
}
.layout {
  display: flex;
  justify-content: space-between;
}

.productos_items {
  display: flex;
  flex-wrap: wrap;
  padding-left: 4vw;
  font-family: $texto;
}

.carrito_compras {
  width: 72vw;
  text-align: center;
}
.titularCarrito {
  font-family: $texto;
  padding: 13px;
  font-size: 30px;
}

.imagen_producto {
  object-fit: cover;
  width: 7vw;
}
.titulo_producto_carrito {
  font-family: $texto;
}
.producto_individual {
  display: flex;
  text-align: left;
  margin: 22px;
}

.precio_producto_carrito {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: $texto;
  color: black;
  font-weight: bold;
}
.btn_sumar_restado {
  border-radius: 50%;
  width: 2vw;
  height: 2vw;
  background-color: $color-primario;
  border: none;
  color: white;
}

.btn_sumar_restado:focus {
  outline: none;
  box-shadow: none;
}

.cantidad_producto {
  padding: 0 10px;
}
.contador {
  display: flex;
  align-items: center;
}
.producto {
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
  width: 240px;
  padding: 10px;
  margin: 20px;
  min-height: auto;
  justify-content: space-around;
  background: #ffbd592e;
  box-shadow: 9px 11px 11px #bbb9b9;
}
.img_producto {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.img_p {
  width: 100%;
  border-radius: 20px 20px;
}

.info_producto {
  font-weight: 600;
  line-height: 19px;
  font-size: 15px;
  padding-top: 1rem;
  margin: 0;
  min-height: 8vh;
  text-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
  text-align: center;
}

.precio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}
.precio_producto {
  font-size: 34px;
}
.btn {
  display: block;
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  background: #00c129;
  text-decoration: none;
  color: white;
  width: 70%;
  font-weight: bold;
  border-radius: 7px;
  border: none;
}

.mostrarCartel {
  background: red;
  font-family: $texto;
  color: white;
  text-align: center;
}

.descripcion_mostrar_btn {
  display: block;
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  background: transparent;
  border: 2px solid #ff9800;
  color: #ff9800;
  text-decoration: none;
  width: 70%;
  font-weight: bold;
  border-radius: 7px;
}

.descripcion_mostrar_btn:hover {
  background: #ff9800;
  color: white;
  transition: opacity 2s linear;
}

.descripcion_oculta {
  visibility: hidden; /* Al alterar las márgenes y el height no es necesaria esta propiedad */
  opacity: 0;
  height: 0;
  padding: 0;
}

.descripcion_mostrar {
  visibility: visible;
  transition: opacity 2s linear;
  overflow: auto;
  height: 5vw;
  padding: 20px;
}

.img_card {
  width: 50px;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}
.descripcion_mostrar_btn:focus {
  outline: none;
  box-shadow: none;
}

.totalProductoCarrito {
  padding: 20px;
  font-family: $texto;

  text-align: left;
  font-weight: bold;
  font-size: 1.5rem;
}

.contenedorProd {
  border: #6d6d6d 1px dashed;
  border-radius: 3px 3px 4px 4px;
  position: sticky;
  top: 10px;
  overflow: auto;
  height: 45vw;
  margin-top: 53px;
}

.titular {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.texto_producto {
  padding-left: 3vw;
}

.notyf {
  font-family: $texto;
}

.fa-trash-alt {
  margin-right: 27px;
  font-size: 23px;
  color: gray;
}

.carritosvg {
  width: 15vw;

  margin-top: 18px;
}

.btn_delete {
  margin-top: 19px;

  padding: 0 20px;
}
